name: calculator-app-test-showcase

on: pull_request

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2.16.1 //flutter version
      - name: install dependencies
        run: flutter packages get
      - name: run tests
        run: flutter test --exclude-tags='no-ci'
